/* * {
    border: 1px dotted red;
} */
body {
    background-color: #042c1f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e0c29e;
    min-width: 700px;
    margin: 10px;
}
img {
    max-width: 175px;
    margin: 15px;
    background-color: #fff;
}
#cat1, #cat2 {
    justify-content: space-evenly;
}
#cat1 {
    background-color: #808080;
}
#cat2 {
    background-color: #ff7f50;
}