* {
    font-family: sans-serif;
}
h1 {
    background-color: black;
    color: white;
    padding: 1em;
}
span {
    color: lightskyblue;
}
h2 {
    background-color: purple;
    font-style: italic;
    padding: 1em;
    color: white;
    text-align: center;
}
h3 {
    background-color: skyblue;
    padding: 1em;
    text-align: end;
    text-decoration: underline;
}