body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    border: 3px groove #992699;
    padding: 1em;
    justify-content: space-evenly;
    width: 75%;
}
.column {
    display: flex;
    flex-direction: column;
}
.userCard, .education, .requests, .connections {
    display: flex;
    flex-direction: column;
    border: 2px solid #992699;
}
.userCard, .requests, .education {
    margin-bottom: 2em;
}
section {
    display: flex;
}
.blue {
    background-color: #2d2d96;
    height: 125px;
    margin-bottom: 70px;
}
.blue img {
    border-radius: 50%;
    background-color: #fff;
    height: 100px;
    padding: 5px;
    margin-top: 60px;
    margin-left: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 30px;
}
.content section {
    display: flex;
    align-items: center;
}
.content section img {
    height: 40px;
}
.content section p {
    margin: 0 1em;
}
.light {
    color: #474646;
}
.content section a {
    margin: 0 1em;
}
.header {
    background-color: #3d3c3c;
    color: #ffffff;
    align-items: center;
}
.header p {
    margin: 1em;
    padding: .5em 2em;
    background-color: #d3d3d3;
    border-radius: 50%;
}
.header h3 {
    margin: 1em;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
    margin: .5em;
}
.user img {
    max-width: 75px;
    border-radius: 50%;
}
.user h4 {
    width: 65px;
    text-align: center;
}
.profImg {
    justify-self: flex-start;
}
.choice {
    height: 25px;
}
.accepted {
    justify-content: flex-start;
}